body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: left;
  font-size: 50px;
  line-height: 50px;
  margin: 50px 0 10px 30px;
  font-weight: 700;
  color: whitesmoke;
}
h2 {
  text-align: left;
  font-size: 20px;
  line-height: 25px;
  margin: 0 0 0 30px;
  font-weight: 150;
  color: whitesmoke;
}

footer {
  text-align: center;
  font-family: monospace;
  font-size: smaller;
  padding-bottom: 20px;
}
.search {
  margin: 0 0 0 30px;
  color: #525e75;
  width: 75%;
}

.wind,
.sky,
.humidity {
  font-size: 13px;
  font-weight: 150;
  position: relative;
  left: 10px;
  top: 8px;
}
.weather-sign {
  margin: 0 0 0 50px;
  padding-bottom: 20px;
  height: 60px;
  width: auto;
  position: relative;
  left: 20px;
}

.searchbutton {
  color: #525e75;
  position: relative;
  font-size: 20px;
  background-color: transparent;
  border: 0.5px solid whitesmoke;
}
.searchbutton:hover {
  background-color: whitesmoke;
}
.weather-app {
  border: 1px solid whitesmoke;
  border-radius: 15px;
  box-shadow: 0 0 1em #525e75;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
  background: url(sky4.jpg) #88a2d3;
  background-size: cover;
}
.temperature {
  font-weight: 600;
  font-size: 80px;
  line-height: 40px;
  color: whitesmoke;
}

.celsius {
  font-size: small;
  position: relative;
  top: -48px;
  right: 5px;
  color: white;
}
.details {
  position: relative;
  left: 50px;
  top: -20px;
  color: whitesmoke;
}
.forecast {
  color: #525e75;
  font-size: 13px;
  background-color: rgb(245, 245, 245, 0.5);
  border: 0.5px solid whitesmoke;
  border-radius: 15px;
  text-align: center;
  margin-top: 15px;
}

.forecast-temperature-min {
  opacity: 0.8;
}
.forecast-temperature-max {
  font-weight: bold;
}
